@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --primary-color: #19b482;
  --secondary-color: #dcffef;
  --primary-text: #000;
  --secondary-text: #5a4e4f;
}
body {
  overflow-x: hidden;
}
.homeHeading {
  position: relative;
  display: inline-block;
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 4.5rem;
  margin: 1.5rem 0;
}
.homeHeading img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 105%;
}
